<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home Dashboard</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


	<link rel="stylesheet" href="dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="dist/css/AdminLTE.css">

	<!-- AdminLTE Skins. Choose a skin from the css/skins
		folder instead of downloading all of them to reduce the load. -->
	<link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">

	<!-- Scripts -->
	<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="config.js"></script>
<!--	<script type="text/javascript" src="homeassistant-api.js"></script> -->

	<style type="text/css">
		body {
			background-color: #ecf0f5;
		}
		body:not(.sidebar-collapse) .info-box-icon i { display: none; }
		body:not(.sidebar-collapse) .info-box-icon { width: 16px; }
		body:not(.sidebar-collapse) .info-box-content { margin-left: 16px; }
		
		.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>h4 { margin-left: 0; }
		.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>p { margin-left: 0; white-space: normal; }
		[v-cloak] { display: none; }
		
		.fadePage-enter-active, .fadePage-leave-active {
			transition: opacity .75s
		}
		.fadePage-enter, .fadePage-leave-to {
			opacity: 0
		}
		.lockscreen-wrapper {
			background-color: transparent;
		}
		.wrapper.fullscreen {
			background-color: #ecf0f5;
			margin-left: 0 !important;
		}
	</style>
	
</head>
<body class="hold-transition skin-blue sidebar-mini sidebar-collapse fixed">
<div id="app">

	<div class="wrapper fullscreen" v-if="!loaded">
		<div class="lockscreen-wrapper">
			<div class="lockscreen-logo">Loading</div>

			<p class="text-center" style="font-size: 36px; margin-bottom: 24px;">
				<i class="fa fa-refresh fa-spin"></i>
			</p>
		</div>
	</div>
	
	<div class="wrapper" id="wrapper" v-cloak>

	<!-- Main Header -->
	<header class="main-header">

		<!-- Logo -->
		<a href="index.html" class="logo">
		<!-- mini logo for sidebar mini 50x50 pixels -->
		<span class="logo-mini"><b>H</b></span>
		<!-- logo for regular state and mobile devices -->
		<span class="logo-lg">Welcome <b>Home</b></span>
		</a>

		<!-- Header Navbar -->
		<nav class="navbar navbar-static-top" role="navigation">
		<!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
			<span class="sr-only">Toggle navigation</span>
		</a>
		<!-- Navbar Right Menu -->
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
			<!-- Messages: style can be found in dropdown.less-->
			<li class="dropdown messages-menu">
				<!-- Menu toggle button -->
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<i class="fa fa-envelope-o"></i>
				<span class="label label-warning" v-if="notifications.length > 0">{{notifications.length}}</span>
				</a>
				<ul class="dropdown-menu">
				<li class="header">You have {{notifications.length}} messages</li>
				<li>
					<!-- inner menu: contains the messages -->
					<ul class="menu">
						<li v-for="notification in notifications">
							<a href="#">
								<h4>
									<i class="fa" :class="notification.data.icon"></i> {{notification.title}}
									<small><i class="fa fa-clock-o"></i> <timeago :since="notification.timestamp" :auto-update="60" :max-time="86400 * 14"></span></small>
								</h4>
								<p>{{notification.message}}</p>
							</a>
						</li>					
					</ul>
					<!-- /.menu -->
				</li>
				<li class="footer"><a href="#">See All Messages</a></li>
				</ul>
			</li>
			<!-- /.messages-menu -->

			<!-- User Account Menu -->
			<li class="dropdown user user-menu">
				<!-- Menu Toggle Button -->
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<!-- The user image in the navbar-->
				<!-- <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image"> -->
				<span>{{config['location']}}</span>
				</a>
				<ul class="dropdown-menu">
				<!-- The user image in the menu -->
				<li class="user-header">
					<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

					<p>
					{{config['location']}}
					<small v-if="connectedWebsocket">Connected to HomeAssistant<br>{{config['ha_url']}}</small>
					<small v-if="!connectedWebsocket">HomeAssistant Disconnected</small>
					</p>
				</li>
				<!-- Menu Footer-->
				<li class="user-footer">
					<div class="pull-right">
					<a href="#" class="btn btn-default btn-flat">Lock Screen</a>
					</div>
				</li>
				</ul>
			</li>
			</ul>
		</div>
		</nav>
	</header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">

		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">

		<!-- Sidebar Menu -->
		<ul class="sidebar-menu">
			<!-- Optionally, you can add icons to the links -->
			<router-link tag="li" active-class="active" to="/" exact><a><i class="fa fa-home"></i> <span>Dashboard</span></a></router-link>
			<router-link tag="li" active-class="active" to="climate" exact><a><i class="fa fa-cloud"></i> <span>Climate</span></a></router-link>
			<router-link tag="li" active-class="active" to="media" exact><a><i class="fa fa-music"></i> <span>Media</span></a></router-link>
			<router-link tag="li" active-class="active" to="security" exact><a><i class="fa fa-lock"></i> <span>Security</span></a></router-link>
			<li class="header">Advanced</li>
			<li class="treeview">
			<a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>
				<span class="pull-right-container">
				<i class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
			<ul class="treeview-menu">
				<li><a href="#">Link in level 2</a></li>
				<li><a href="#">Link in level 2</a></li>
			</ul>
			</li>
		</ul>
		<!-- /.sidebar-menu -->
		</section>
		<!-- /.sidebar -->
	</aside>
	
	<div class="content-wrapper">
		<transition name="fadePage" mode="out-in">
			<router-view></router-view>
		</transition>
	</div>
	
	</div>
</div>
<script type="text/javascript" src="dist/build.js"></script>

<!-- Bootstrap 3.3.6 -->
<script src="dist/js/bootstrap.min.js"></script>
<!-- jQuery Knob Chart -->
<script src="plugins/knob/jquery.knob.js"></script>
<!-- Slimscroll -->
<script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="plugins/chartjs/Chart.min.js"></script>

<script type="text/javascript" src="dist/js/app.js"></script>

<script type="text/javascript">
var app;
var areaChartData;
var areaChartOptions;
</script>
</body>
</html>